@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #f6fcff;
    color: rgb(19, 34, 34);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@layer components {
    /* Buttons */
    .btn-primary {
        @apply py-2 px-5 m-2 md:my-0 md:mx-1 bg-gradient-to-br from-blue-500 to-blue-300 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-30;
    }
    .btn-secondary {
        @apply py-2 px-5 m-2 md:my-0 md:mx-1 bg-gradient-to-br from-slate-100 to-slate-50 font-semibold rounded-full shadow-md hover:bg-slate-700 focus:outline-none focus:ring focus:ring-slate-400 focus:ring-opacity-10;
    }

    .card {
        @apply py-5 px-5 mx-5 my-1.5 bg-white shadow-md rounded-xl w-11/12 lg:w-1/2;
    }
}