@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f6fcff;
    --main-text-color: rgb(19, 34, 34);
    background-color: var(--background-color);
    color: var(--main-text-color);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@layer components {
    /* Blue-to-blue gradient */
    .grad-primary {
        @apply bg-gradient-to-br from-blue-500 to-blue-300;
    }
    .grad-secondary {
        @apply bg-gradient-to-br from-slate-100 to-slate-50;
    }

    /* Buttons */
    .btn-primary {
        @apply py-2 px-5 m-2 md:my-0 md:mx-1 grad-primary text-white font-semibold rounded-full shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-30;
    }
    .btn-secondary {
        @apply py-2 px-5 m-2 md:my-0 md:mx-1 grad-secondary font-semibold rounded-full shadow-md hover:bg-slate-700 focus:outline-none focus:ring focus:ring-slate-400 focus:ring-opacity-10;
    }

    /* Single, full-width card with a background and a shadow */
    .card {
        @apply py-5 px-5 mx-5 my-1.5 bg-white shadow-md rounded-xl w-11/12 lg:w-1/2;
    }
    /* Card with only the layout properties - no background or shadow */
    .card-invis {
        @apply py-5 px-5 mx-5 my-1.5 w-11/12 lg:w-1/2;
    }
    /* Two cards alongside each other in a transparent div */
    .double-card {
        @apply flex flex-row w-11/12 lg:w-1/2 gap-3;
    }
    .double-card > div {
        @apply py-5 px-5 my-1.5 bg-white shadow-md rounded-xl w-1/2 flex justify-center;
    }

    .pulldown-darken {
        @apply absolute top-0 right-0 w-screen h-screen bg-black transition-opacity
            duration-300 ease-in-out overflow-hidden;
    }
    .pulldown-frame {
        @apply absolute top-0 right-0 w-screen h-auto bg-white transition-transform
            duration-300 ease-in-out overflow-hidden px-9 py-8;
    }

    /* Carousel element - these must all be the same width so that all the
    carousels can scroll at once and remain perfectly vertically aligned. */
    .carousel-element {
        @apply w-2/12;
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bearing-arrow {
    max-width: 30px;
    max-height: 30px;
}

.bg-root {
    background-color: var(--background-color);
}

.fadeout {
    animation: fadeout 1.5s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}